---
import BaseLayout from '@layouts/BaseLayout.astro'
import hygraph from '@js/hygraph'

interface Job {
    title: string
    description: {
        html: string
    }
    number: string
}

const jobs = (await hygraph('jobs')) as Array<Job>

const reviews = [
    {
        name: 'Richa Satardekar',
        quote: 'Working in H.E for more than a year makes me feel that Working environment is very friendly and makes me easier to get used to new work. Every other project comes with some new challenges and this opportunity gives me the chance to grow professionally.',
    },
    {
        name: 'Saishree Shirodkar',
        quote: 'I got to learn a lot of new things in my tenure. The office staff is friendly and supports me in solving my difficulties which are encountered during the work.',
    },
]
---

<BaseLayout title='Careers'>
    <section>
        <div class='container mx-auto px-5 py-10 lg:py-20'>
            <h1 class='text-5xl mb-8 font-black'>Join the team</h1>
            <p class='max-w-4xl'>
                Are you interested in being part of Hightec Engineers family? We
                offer exciting career opportunities, and a collaborative work
                environment. Explore our job openings below and take the first
                step towards a rewarding career with us.
            </p>

            <div class='grid gap-12 mt-16 lg:grid-cols-2'>
                {
                    jobs?.map((job) => (
                        <div class='bg-blue-50 p-8'>
                            <div class='flex gap-8 items-start justify-between'>
                                <h2 class='text-3xl font-bold'>{job?.title}</h2>
                                <a
                                    href='#apply'
                                    class='text-lg bg-blue-300 text-black py-2 px-6 font-bold hover:bg-blue-400 transition-all duration-300 hover:scale-105 text-center'
                                >
                                    Apply
                                </a>
                            </div>
                            <span class='text-xl font-bold'>
                                Required: {job.number}
                            </span>
                            <div class='mt-8 prose prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-headings:font-bold prose-p:m-0 prose-headings:mt-2'>
                                <Fragment set:html={job.description.html} />
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>

    <section>
        <div class='container mx-auto px-5 py-10 lg:py-10 max-w-6xl relative'>
            <svg
                class='absolute inset-0 m-auto opacity-5'
                xmlns='http://www.w3.org/2000/svg'
                width='80'
                height='80'
                viewBox='0 0 24 24'
                ><path
                    d='M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z'
                ></path></svg
            >
            <div
                class='splide px-20 lg:px-28 py-12'
                aria-label='Splide Basic HTML Example'
            >
                <div class='splide__track'>
                    <ul class='splide__list'>
                        {
                            reviews.map((review) => (
                                <li
                                    class='splide__slide'
                                    class=' flex flex-col items-center text-center'
                                >
                                    <blockquote class='text-center'>
                                        "{review.quote}"
                                    </blockquote>
                                    <h3 class='text-center font-bold text-xl mt-4'>
                                        {review.name}
                                    </h3>
                                </li>
                            ))
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class='mx-5' id='apply'>
        <div
            class='container mx-auto relative bg-blue-300/70 p-6 lg:p-8 max-w-4xl flex flex-col lg:flex-row gap-8 mt-28 lg:mt-16 lg:items-end'
        >
            <img
                src='/dgps.png'
                alt=''
                class='w-auto absolute right-0 bottom-0 -mt-28 h-72 max-lg:opacity-60'
            />
            <div
                class='relative flex flex-col items-start justify-center lg:px-4 max-w-[80%]'
            >
                <h2 class='text-4xl font-bold'>
                    Come, build your future with us!
                </h2>
                <p class='mt-2'>
                    Ready to lay the foundation for your career? Join our team
                    and shape your future of remarkable structures. Take the
                    next step today and apply for our exciting job
                    opportunities. Let's construct a promising future together!
                </p>
                <p class='mt-8 text-lg'>To apply, please email CV to</p>
                <a
                    href='mailto:management.hightec@gmail.com?subject=Job application'
                    class='lg:text-lg mt-2 bg-black text-blue-300 py-2 px-6 font-bold transition-all duration-300 hover:scale-105 text-center'
                    >management.hightec@gmail.com</a
                >
            </div>
        </div>
    </section>
</BaseLayout>

<script>
    import Splide from '@splidejs/splide'
    new Splide('.splide', {
        autoplay: true,
        type: 'loop',
        perPage: 1,
    }).mount()
    import '@splidejs/splide/css'
    import '@splidejs/splide/css/skyblue'
    document.querySelectorAll('.splide__pagination__page').forEach((dot) => {
        dot.classList.add('bg-neutral-400')
    })
</script>
