---
import hygraph from '@js/hygraph'
import BaseLayout from '@layouts/BaseLayout.astro'
export interface Office {
    email: string
    address: string
    name: string
    map: string
    phone: string
}
import { addLineBreaks, extractIframeSrc } from '@js/utils'
const offices = (await hygraph('offices')) as Array<Office>
---

<BaseLayout title='Contact'>
    <section>
        <div
            class='hidden container mx-auto px-5 py-10 lg:py-20 flex flex-col lg:flex-row gap-12 lg:gap-28'
        >
            <div class='lg:w-1/2 flex flex-col'>
                <h1 class='text-5xl mb-8 font-black'>Contact us</h1>
                <p>
                    We would love to hear from you! Whether you have a question,
                    want to discuss a project, or simply want to learn more
                    about our construction services, our team is here to assist
                    you. Get in touch with us today and let's start building
                    together.
                </p>
                <div class='flex flex-col gap-3 mt-12'>
                    <a
                        class='flex gap-2 items-center'
                        href='//fb.com/100063727312928'
                        ><i class='fa-brands fa-facebook-f text-2xl'></i>
                        <span>/hightecengineers</span>
                    </a>
                    <a
                        class='flex gap-2 items-center'
                        href='//instagr.am/hightecengineers'
                        ><i class='fa-brands fa-instagram text-2xl'></i>
                        <span>/hightecengineers</span>
                    </a>
                    <a class='flex gap-2 items-center' href='tel:+918412024400'
                        ><i class='fa-solid fa-phone text-2xl'></i>
                        <span>+91 8412024400</span>
                    </a>
                    <a
                        class='flex gap-2 items-center'
                        href='mailto:hightecengineers4@gmail.com'
                        ><i class='fa-solid fa-envelope text-2xl'></i>
                        <span>hightecengineers4@gmail.com</span>
                    </a>

                    <a
                        class='flex gap-2 items-center'
                        href='https://www.google.com/maps?ll=15.290505,73.988883&z=15&t=m&hl=en&gl=IN&mapclient=embed&q=Gogol+Margao,+Goa'
                        ><i class='fa-solid fa-location-dot text-2xl'></i>
                        <span
                            >AG-16, Suyash Garden, <br />
                            Gogol, Margao - Goa.
                        </span>
                    </a>
                </div>
            </div>
            <iframe
                class='lg:w-1/2'
                src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6472.528547958702!2d73.9804862910682!3d15.290220502152176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfb2294dc8aa97%3A0x5970bd6cc443099c!2sGogol%2C%20Margao%2C%20Goa!5e0!3m2!1sen!2sin!4v1685897158018!5m2!1sen!2sin'
                height='450'
                style='border:0;'
                allowfullscreen=''
                loading='lazy'
                referrerpolicy='no-referrer-when-downgrade'></iframe>
        </div>
    </section>

    <section>
        <div
            class='container mx-auto px-5 py-10 lg:py-20 flex flex-col lg:flex-row gap-12 lg:gap-28'
        >
            <div class='lg:w-1/2 flex flex-col'>
                <h1 class='text-5xl mb-8 font-black'>Contact us</h1>
                <p>
                    We would love to hear from you! Whether you have a question,
                    want to discuss a project, or simply want to learn more
                    about our construction services, our team is here to assist
                    you. Get in touch with us today and let's start building
                    together.
                </p>
            </div>
            <div
                class='lg:w-1/2 flex flex-col gap-4 mt-4 lg:text-right lg:items-end'
            >
                <a
                    class='flex gap-2 items-center group'
                    href='//fb.com/100063727312928'
                    ><i class='fa-brands fa-facebook-f text-2xl'></i>
                    <span class='group-hover:underline'>/hightecengineers</span>
                </a>
                <a
                    class='flex gap-2 items-center group'
                    href='//instagr.am/hightecengineers'
                    ><i class='fa-brands fa-instagram text-2xl'></i>
                    <span class='group-hover:underline'>/hightecengineers</span>
                </a>
                <a
                    class='flex gap-2 items-center group'
                    href='tel:+918412024400'
                    ><i class='fa-solid fa-phone text-2xl'></i>
                    <span class='group-hover:underline'>+91 8412024400</span>
                </a>
                <a
                    class='flex gap-2 items-center group'
                    href='mailto:hightecengineers4@gmail.com'
                    ><i class='fa-solid fa-envelope text-2xl'></i>
                    <span class='group-hover:underline'
                        >hightecengineers4@gmail.com</span
                    >
                </a>
            </div>
        </div>
        <div class='container mx-auto px-5 py-10 grid lg:grid-cols-2 gap-8'>
            {
                offices.map((office) => (
                    <div class='space-y-4'>
                        <iframe
                            src={extractIframeSrc(office.map)}
                            class='w-full h-[450px]'
                            style='border:0;'
                            allowfullscreen=''
                            loading='lazy'
                            referrerpolicy='no-referrer-when-downgrade'
                        />
                        <h2 class='text-4xl font-bold'>{office?.name}</h2>
                        <a class='flex gap-2'>
                            <i class='fa-solid fa-location-dot text-2xl' />
                            <Fragment
                                set:html={addLineBreaks(office?.address)}
                            />
                        </a>
                        {office?.email && (
                            <a
                                class='flex gap-2 items-center group'
                                href={`mailto:${office?.email}`}
                            >
                                <i class='fa-solid fa-envelope text-2xl' />
                                <span class='group-hover:underline'>
                                    {office?.email}
                                </span>
                            </a>
                        )}
                    </div>
                ))
            }
        </div>
    </section>
</BaseLayout>
