---
import hygraph from '@js/hygraph'
import FeatureCard from '@components/FeatureCard.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import features from '@data/features.json'
import ServiceCard from '@components/ServiceCard.astro'
import ProjectCard from '@components/ProjectCard.astro'
interface Image {
    url: string
}
interface Service {
    title: string
    icon: string
}
interface Project {
    image: Image
    title: string
    description: string
}
interface Partner {
    name: string
    logo: Image
    website: string
}
interface Slide {
    image: Image
}

const services = (await hygraph('services')) as Array<Service>
const projects = (await hygraph('projects')) as Array<Project>
const partners = (await hygraph('partners')) as Array<Partner>
const slides = (await hygraph('slides')) as Array<Slide>
---

<script>
    import 'flowbite'
    import 'flowbite/dist/flowbite.min.css'
</script>

<BaseLayout title='Home'>
    <section class='relative'>
        <section
            id='controls-carousel'
            class='relative w-full filter'
            data-carousel='slide'
        >
            <!-- Carousel wrapper -->
            <div
                class='relative min-h-[80vh] overflow-hidden bg-black text-white'
            >
                <div class='opacity-40 h-full w-full'>
                    {
                        slides.map((slide, index) => (
                            <div
                                class='hidden duration-700 ease-in-out'
                                data-carousel-item={!index ? 'active' : ''}
                            >
                                <img
                                    src={slide.image.url}
                                    class='absolute block w-full m-auto inset-0 object-cover h-full'
                                />
                            </div>
                        ))
                    }
                </div>
            </div>
        </section>

        <section class='absolute h-full w-full top-0 left-0'>
            <div
                class='container mx-auto px-5 py-10 lg:py-20 flex flex-col items-center min-h-[80vh] justify-center text-center drop-shadow-lg text-white'
            >
                <h1 class='text-3xl md:text-4xl lg:text-7xl font-black'>
                    Building <span
                        style='background: url(/images/clouds.svg) no-repeat bottom center/contain;padding-top: 1em;'
                        >Dreams</span
                    >, <br /> One Project at a Time
                </h1>
                <p class='md:text-lg lg:text-xl mt-6 max-w-3xl'>
                    At Hightec Engineers, we are driven by our commitment to
                    deliver exceptional value to our clients. With a relentless
                    focus on efficiency and cost-effectiveness, we provide
                    innovative solutions that meet your needs.
                </p>
                <a
                    href='/contact'
                    class='text-lg mt-8 bg-blue-300 text-black py-2 px-6 font-bold hover:bg-blue-400 transition-all duration-300 hover:scale-105 text-center'
                    >Contact us</a
                >
            </div>
        </section>
    </section>

    <section class='bg-blue-50'>
        <div class='container mx-auto px-5 py-10 lg:pt-0 lg:pb-20'>
            <h2 class='sr-only'>Features</h2>
            <div class='grid md:grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-12'>
                {features.map((feature, i) => <FeatureCard {feature} />)}
            </div>
        </div>
    </section>

    <section
        class='hidden bg-cover bg-bottom bg-no-repeat'
        style='background-image:url(https://images.pexels.com/photos/4513940/pexels-photo-4513940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);'
    >
        <div class='w-full h-full bg-blue-300/90'>
            <div class='container mx-auto px-5 py-10 lg:py-16'>
                <h2 class='sr-only'>Achievements</h2>

                <div class='flex items-center justify-center'>
                    <h3 class='text-center flex flex-col items-center'>
                        <span class='text-4xl font-bold'>800+</span>
                        <span class='uppercase text-sm tracking-wider'
                            >Projects completed</span
                        >
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class='container mx-auto px-5 py-10 lg:py-16'>
            <h2 class='text-4xl font-bold text-center'>Services</h2>
            <div class='grid grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-12 mt-16'>
                {services.map((service) => <ServiceCard {service} />)}
            </div>
        </div>
    </section>

    <section
        class='hidden bg-cover bg-bottom bg-no-repeat mt-12'
        style='background-image:url(https://images.pexels.com/photos/4513940/pexels-photo-4513940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);'
    >
        <div class='w-full h-full bg-blue-200/70'>
            <div class='container mx-auto px-5 py-10'>
                <h2 class='text-4xl font-bold text-center'>
                    Signature Projects
                </h2>
                <div class='grid md:grid-cols-2 max-w-4xl mx-auto gap-12 mt-16'>
                    {projects.map((project) => <ProjectCard {project} />)}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class='container mx-auto px-5 py-10 lg:py-20'>
            <h2 class='text-4xl font-bold text-center'>Signature Projects</h2>
        </div>
        <div class='grid md:grid-cols-2 xl:grid-cols-4'>
            {
                projects.map((project) => (
                    <div
                        style={`background-image:url(${project?.image?.url});`}
                        class='bg-no-repeat bg-center bg-cover w-full'
                    >
                        <div class='bg-gradient-to-t from-black via-black/40 to-black/10 w-full text-white p-8 flex flex-col justify-end pt-32 transition-colors group h-64'>
                            <h3 class='text-2xl font-bold'>{project?.title}</h3>
                            <div class='grid lg:grid-rows-0fr group-hover:grid-rows-1fr transition-grid-rows'>
                                <p class='text-neutral-300 overflow-hidden'>
                                    {project?.description}
                                </p>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </section>

    <section>
        <div class='container mx-auto px-5 py-10 lg:py-20'>
            <h2 class='text-4xl font-bold text-center'>Our clients</h2>

            <div
                class='grid grid-cols-4 max-w-2xl mx-auto gap-8 lg:gap-12 mt-16 place-items-center'
            >
                {
                    partners.map((partner) => (
                        <a href={partner.website} target='_blank'>
                            <img
                                title={partner.name}
                                alt={partner.name}
                                src={partner.logo.url}
                                class='max-h-24 mx-auto grayscale'
                            />
                        </a>
                    ))
                }
                <div>+1000 more</div>
            </div>
        </div>
    </section>

    <section>
        <div
            class='container mx-auto px-5 py-10 lg:py-20 grid lg:grid-cols-2 max-w-6xl gap-8'
        >
            <img class='border-2 shadow-xl' src='/certificate-1.jpg' alt='' />
            <img class='border-2 shadow-xl' src='/article.jpg' alt='' />
        </div>
    </section>

    <section class='mx-5 py-20'>
        <div
            class='container mx-auto relative bg-blue-300/70 p-6 lg:p-8 max-w-4xl flex flex-col lg:flex-row gap-8 mt-28 lg:mt-16 lg:items-end'
        >
            <img
                src='/dgps.png'
                alt=''
                class='w-auto absolute right-0 bottom-0 -mt-28 h-72 max-lg:opacity-60'
            />
            <div
                class='relative flex flex-col items-start justify-center lg:px-4'
            >
                <h2 class='text-4xl font-bold'>
                    Transform Visions into Reality
                </h2>
                <p class='text-lg mt-2'>Discover Our Expertise Today</p>
                <a
                    href='/contact'
                    class='lg:text-lg mt-8 bg-black text-blue-300 py-2 px-6 font-bold transition-all duration-300 hover:scale-105 text-center'
                    >Contact us</a
                >
            </div>
        </div>
    </section>
</BaseLayout>
